{% extends "./plantilla.html" %}

{% block title %}Buscar clientes{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Buscar Cliente</h2>
        <div class="card">
            <div class="card-body">
                <form action="/buscarcliente/" method="GET">{% csrf_token %}
                    <div class="form-group py-2">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo" maxlength="6"required>
                    </div>
                    <button type="submit" class="btn btn-block btn-info text-white">Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Resultado de busqueda</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Auto</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in clientes %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.apellido}}</td>
                        <td>{{c.email}}</td>
                        <td>{{c.auto}}</td>
                        <td><a href="edicioncliente/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarcliente/{{c.codigo}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}